.dialog {
  --_dialog-width: 550px;

  inline-size: min(100%, var(--_dialog-width));
  padding: var(--spacing-xl);
  background-color: var(--bg-neutral-accent);

  &::backdrop {
    background-color: hsl(from var(--bg-neutral-medium) h s l / 0.5);
  }
}
