.project__sidebar {
  --sidebar-width: clamp(10rem, 8.75rem + 6.25vw, 16.25rem);

  --stack-gap: var(--spacing-0);
  grid-area: sidebar;
  inline-size: var(--sidebar-width);
  padding: var(--spacing-xl);
  overflow: hidden;
  background-color: var(--bg-secondary-accent);

  @media (width <= 800px) {
    position: absolute;
    inset: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
  }
}

.project__sidebar--open {
  @media (width <= 800px) {
    transform: translateX(0);
  }
}

.project__header {
  display: none;

  @media (width <= 800px) {
    display: flex;
    justify-content: flex-end;
  }
}

.project__close {
  color: var(--fg-neutral-accent);
  background: transparent;
  border: var(--spacing-0);

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 3px var(--border-neutral-accent-focus);
  }
}

.project__list {
  --stack-gap: var(--spacing-xs);
  overflow-y: auto;
}

.project__item {
  --_color: var(--fg-color, var(--fg-neutral-accent));

  inline-size: 100%;
  padding: var(--spacing-0);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: var(--font-weight-semibold);
  color: var(--_color);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-lg);
  white-space: nowrap;
  background-color: transparent;
  border: var(--spacing-0);

  &:hover {
    --fg-color: var(--fg-primary-accent-hover);
  }

  &:focus-visible {
    outline: var(--spacing-0);
    box-shadow: inset 0 0 0 3px var(--border-neutral-accent-focus);
  }
}

.project__item--active {
  --fg-color: var(--fg-primary-accent);

  &:before {
    content: "=";
  }
}

.project__button {
  align-self: flex-start;
  padding: var(--spacing-xs);
  margin-block-start: auto;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-lg);
  background-color: var(--bg-primary-accent);
  border: 1px solid var(--border-neutral-intense);

  &:before {
    content: "+";
  }

  &:focus-visible {
    outline: var(--spacing-0);
    box-shadow: inset 0 0 0 6px var(--border-tertiary-accent-focus);
  }
}
