.todo__container {
  grid-area: main;
  padding: var(--spacing-xl);
  overflow: hidden;
  background-color: var(--bg-neutral-accent);
}

.todo__header {
  --todo-header-size: clamp(1.5rem, 1.1rem + 2vw, 3.5rem);

  --stack-gap: var(--spacing-xs);
  font-family: var(--font-family-display);
  font-size: var(--todo-header-size);
}

.todo__list {
  --stack-gap: var(--spacing-0);
  overflow-y: auto;
}

.todo {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
  padding-block: var(--spacing-md);

  &:not(:last-child) {
    border-block-end: 1px solid var(--border-neutral-intense);
  }
}

.todo__checkbox {
  --_size: 1.5rem;

  inline-size: var(--_size);
  block-size: var(--_size);
  appearance: none;
  cursor: pointer;
  background-color: var(--bg-tertiary-accent);
  border: 2px solid var(--border-tertiary-accent);
  box-shadow: 2px 2px var(--border-neutral-intense);

  &:checked {
    background-color: var(--bg-tertiary-accent);

    &::after {
      display: grid;
      place-content: center;
      block-size: 100%;
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-bold);
      color: var(--fg-neutral-intense);
      content: "✓ ";
    }
  }
}

.todo__item {
  --_weight: var(--item-weight, var(--font-weight-bold));

  inline-size: 100%;
  padding: var(--spacing-0);
  font-size: var(--font-size-lg);
  font-weight: var(--_weight);
  background-color: inherit;
  border: var(--spacing-0);

  &:before {
    --item-weight: var(--font-weight-semibold);
    padding: var(--spacing-xs);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    background-color: var(--bg-tertiary-accent);
  }
}

.todo__tags {
  --cluster-gap: var(--spacing-md);
  margin-inline-start: auto;
  margin-inline-end: 0.2rem;
  font-size: var(--font-size-sm);
}

:where(.todo__date, .todo__priority) {
  --rotate-angle: 3deg;
  --rotate-direction: 1;
  --_rotate: rotate(calc(var(--rotate-angle) * var(--rotate-direction)));

  padding-inline: var(--spacing-xs);
  text-transform: uppercase;
  border: 2px solid var(--border-neutral-intense);
  transform: var(--_rotate);
}

.todo__date {
  background-color: var(--bg-neutral-ghost);
}

.todo__priority {
  --_bg: var(--bg-priority, var(--bg-primary-accent));
  --_fg: var(--fg-priority, inherit);

  --rotate-direction: -1;
  color: var(--_fg);
  background-color: var(--_bg);
}

.todo__priority--low {
  --bg-priority: var(--bg-secondary-accent);
  --fg-priority: var(--fg-neutral-accent);
}

.todo__priority--high {
  --bg-priority: var(--bg-tertiary-accent);
}

.todo__button {
  inline-size: 100%;
  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-md);
  font-weight: var(--font-weight-bold);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-lg);
  background-color: var(--bg-tertiary-accent);
  border: var(--spacing-0);
  border-block: 2px solid var(--border-neutral-intense);

  &:before {
    content: "+ ";
  }

  &:focus-visible {
    outline: var(--spacing-0);
    border-color: transparent;
    box-shadow: 0 0 0 4px var(--border-neutral-intense-focus);
  }
}
